@model MincePieRateV2.Models.Domain.MincePie

@{
    ViewData["Title"] = "Edit Mince Pie";
}

<h1>Edit Mince Pie</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            @await Html.PartialAsync("_AddEdit", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
