@using  MincePieRateV2.Models.Domain
@model MincePieRateV2.Models.Domain.Review

@{ 
    var mincePies = (IEnumerable<MincePie>)ViewData["MincePies"];
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="MincePieId" class="control-label"></label>
    <select asp-for="MincePieId" class="form-control" asp-items="@(new SelectList(mincePies, "Id", "DisplayString"))"></select>
    <span asp-validation-for="MincePieId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PastryRating" class="control-label"></label>
    <input asp-for="PastryRating" class="form-control" />
    <span asp-validation-for="PastryRating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FillingRating" class="control-label"></label>
    <input asp-for="FillingRating" class="form-control" />
    <span asp-validation-for="FillingRating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AppearanceRating" class="control-label"></label>
    <input asp-for="AppearanceRating" class="form-control" />
    <span asp-validation-for="AppearanceRating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AromaRating" class="control-label"></label>
    <input asp-for="AromaRating" class="form-control" />
    <span asp-validation-for="AromaRating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ValueForMoney" class="control-label"></label>
    <input asp-for="ValueForMoney" class="form-control" />
    <span asp-validation-for="ValueForMoney" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FreeTextReview" class="control-label"></label>
    <textarea asp-for="FreeTextReview" class="form-control"></textarea>
    <span asp-validation-for="FreeTextReview" class="text-danger"></span>
</div>
